<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>The Profile</title>
</head>
<body>

{% if user.is_authenticated %}
    <h1>The one and only {{ user.first_name }}!!!</h1>
    <img src={{ img_url }}{{ user.picture }}><br /><br />
        Usertag: {{ user.username }} <br />
        Biography: {{ user.bio }}    <br /><br />
    <a href="/accounts/edit_profile/">Edit Profile</a><br />
    <a href="/content/content/">Logout</a><br />
{% else %}
    <a href="/">Go back to homepage!</a>
{% endif %}

</body>
</html>