<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Proto Page</title>
</head>
<body>
<h1>Prototyping...</h1>
<a href="/accounts/signup/">
    Sign Up</a>
<br />
<a href="/accounts/login/">
    Login here</a>
<br />
</body>
</html>


<!--
    I didn't create a base.html so that other  html
    files can inherit from said base.html.  I'm not
    an HTML or JS or CSS  expert by any means.   My
    frontend guy my hate using jinja or smarty type
    templating.  And  those curly brackets can  get
    out of control really fast.  So, that's why.
    -->
